<!DOCTYPE html>
<html ng-csp>
<!--Alternative: <html ng-csp ng-app="myApp">-->
<head>
    <meta charset="utf-8" />
    <title>App9</title>

    <!-- WinJS references -->

    <link href="css/ui-dark.css" rel="stylesheet" />
    <link href="css/mscom-grid.css" rel="stylesheet" />
    <link href="/css/default.css" rel="stylesheet" />
    <link href="js/lib/Angular/angular-csp.css" rel="stylesheet" />
    <script src="js/lib/winjs/WinJS.js"></script>
    <script src="js/lib/moment.js"></script>

    <script src="js/lib/Angular/angular.js"></script>
    <script src="js/lib/Angular/angular-route.js"></script>
    <script src="js/lib/angular-winjs.js"></script>

    <script src="js/config.js"></script>
    <script src="js/default.js"></script>
    <!-- Alternative:
        <script src="js/default.alternative.js"></script>
        <script src="js/services/angular.winjs.lifecycle.js"></script>-->

    <script src="js/controllers/colorsMainController.js"></script>
    <script src="js/controllers/colorDetailsController.js"></script>
    <script src="js/controllers/shellController.js"></script>
    <script src="js/controllers/palettesMainController.js"></script>
    <script src="js/controllers/patternsMainController.js"></script>

    <script src="js/services/colourLoversAPI.Service.js"></script>

    <script src="js/filters/ttDate.filter.js"></script>
    <script src="js/filters/ttFromNow.filter.js"></script>
    <script src="js/filters/fixcolor.filter.js"></script>

    <script src="js/directives/colorbar.directive.js"></script>
    <script src="js/directives/backButton.directive.js"></script>

    <script src="js/routeConfig.js"></script>
    <script src="js/services/AdapterService.js"></script>
    <script src="js/services/NavigationService.js"></script>
</head>
<body id="app" ng-controller="shellController as shell">
    <div class="full-height">
        <win-split-view ng-class="shell.class"
                        pane-hidden="shell.paneHidden"
                        shown-display-mode="shell.shownDisplayMode"
                        hidden-display-mode="shell.hiddenDisplayMode">
            <win-split-view-pane>
                <div>
                    <div class="header">
                        <button type="button" class="win-splitview-button" ng-click="shell.togglePane();"></button>
                        <div class="title">COLOURLovers Menu</div>
                    </div>
                    <div class="nav-commands">
                        <win-nav-bar-command ng-click="shell.navigateToColors()" label="'colors'" icon="'url(images/colorpicker.png)'"></win-nav-bar-command>
                        <win-nav-bar-command ng-click="shell.navigateToPalettes()" label="'palettes'" icon="'url(images/palette.png)'"></win-nav-bar-command>
                        <win-nav-bar-command ng-click="shell.navigateToPatterns()" label="'patterns'" icon="'url(images/nuclear.png)'"></win-nav-bar-command>
                    </div>
                </div>
            </win-split-view-pane>
            <win-split-view-content style="height:100%">
                <button type="button" class="win-splitview-button" ng-click="shell.togglePane();"></button>
                <div class="contenttext full-height">
                    <ng-view>
                    </ng-view>
                </div>
            </win-split-view-content>
        </win-split-view>
    </div>
</body>
</html>
